# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\timat\Downloads\SE-lab4-mainTanya111\SE-lab4-mainTanya\SE-lab4-main\telegaBotForTanya\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
